{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} </title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul class="nav justify-content-start">

            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class ="nav-link" href="{% url 'logout' %}">logout, <em>{{ user.username }}</em></a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a data-toggle="modal" class ="nav-link" href="{% url 'login' %}">login</a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="{% url 'register' %}">register</a>
                </li>
        
            {% endif %}
        </ul>     
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
       


{% bootstrap_javascript jquery='full' %}
</body>
</html>