{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}

    <header class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Delete Task:</h1>
    </header>
    
        <form action="" method="post">
            {% csrf_token %}
            <div class="alert alert-warning">
                Do you whould like to delete the task <strong>{{ task }}?</strong>
            </div>
            <input type="submit" name="confirm" class="btn btn-danger" value="Delete">
        </form>
        <small><a href="{% url 'home' %}">&#8592; cancel</a></small>


{% endblock content %}