{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
        <header class="card-header">
            <h2 class="card-title">[To-do note].</h2>
        </header>
        <br><br>
                <form action="{% url 'home' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </form>
                <br>

                {% for task in tasks %}
                    
                    <ul class="navigation">
                        
                        <li class="nav-group-item">
                            <a class="nav-link" href="{% url 'edit' task.id %}"><strong>{{task}}</strong></a>
                        </li>
                        
                        <li class="">
                            <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
                        </li>

                    </ul>
                   
                {% endfor %}    
    
{% endblock content %}