{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
        <header class="jumbotron jumbotron-fluid">
                <h1 class="display-4">[To-do note].</h1>
        </header>

                <form action="{% url 'home' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </form>
                <br>

                {% for task in tasks %}
                <div id="task-body" class="card">
                    <div class="card-body">
                        {% if not task.complete %}
                            
                            <span id="to-do" >&#128221;</span>
                            <a id="task-name" class="card-link" href="{% url 'edit' task.id %}">{{ task|title }}</a>
                            
                            <a id="delete" class="card-link" href="{% url 'delete' task.id %}">&#10006;</a>

                        {% else %}

                            <span id="done" >&#129504;</span>
                            <a style="text-decoration:line-through" id="task-name" class="card-link" href="{% url 'edit' task.id %}">{{ task|title }}</a>
                            
                            <a id="delete" class="card-link" href="{% url 'delete' task.id %}">&#10006;</a>
                        
                        {% endif %}

                    </div>
                </div> 
                
                {% endfor %}    
    
{% endblock content %}