{% extends 'core/base.html' %}

{% block content %}

{% for task in tasks %}
                 <div class="card">
                    <div class="card-body">

                        <p class="card-text"><strong>{{task}}</strong></p>
                        <br>
                        <a class="card-link" href="{% url 'edit' task.id %}">Edit</a>
                        <a class="card-link" href="{% url 'delete' task.id %}">Delete</a>

                    </div>
                </div> 
                <br>
                {% endfor %} 
{% endblock %}