{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block title %} Update {% endblock %}

{% block content %}
    <header class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Update your task.</h1>
    </header>

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary" type="submit">Save</button>
        {% endbuttons %}
    </form>
    <small><a href="{% url 'home' %}">&#8592; back</a></small>
<br>

{% endblock content %}