* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.05rem;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#task-name {
    margin-left: 7px;
    color: rgb(37, 37, 37);
}

#task-name:hover {
    color: rgb(86, 111, 184);
}

a {
    color: rgb(151, 188, 252);
}

a:hover {
    color: rgb(22, 81, 140);
    text-decoration : none;
}

li {
    list-style: none;
}

.container {
    max-width: 500px;
}

#task-body {
    margin-bottom: 15px;
}

.jumbotron {
   border-radius: 40px 40px 0 0;
   background-color: rgba(150, 166, 169, 0.895);
   color: rgb(255, 245, 231);
}

.logout {
    color: rgb(249, 212, 160);
}

.logout:hover {
    color: rgb(247, 231, 207);
}

#delete {
    color: rgb(255, 187, 138);
}

#delete:hover {
    color: rgb(247, 231, 207);
}

.user {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: -10px;
    margin-left: 40px;
}

.btn{
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-start;
}

#done {
    font-size: 0.9rem;
}

#to-do {
    font-size: 1.30rem;
}