* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}
p {
    margin: 0;
}



a {
    
    color: rgb(152, 152, 243);  
}

a:hover {
    color: rgb(87, 99, 136);
    text-decoration : none;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

li {
    list-style: none;
}

.container {
    position:absolute;
    top:40%;
    left:50%;
    margin-left:-250px;/* half width*/
    margin-top:-300px;/* half height*/
    max-width: 500px;
}
